<div class="container my-5 ">
  <div class="row justify-content-center align-items-center p-5 mx-3 central">
    <div class="col-auto">
      <div class="lagarto p-4">
        <img src="../../../assets/images/lagarto.png" class="img-fluid" width="90px">
      </div>
    </div>
    <div class="col-auto">
      <h5 class="mb-0">Bienvenido</h5>
      <h5 class="mb-0">Nombre del profesor</h5>
    </div>
  </div>
  <div class="row d-flex flex-wrap gap-5 p-5 justify-content-center">
    <button class="btn group col-auto p-3 rounded-3">
      Grupo #
    </button>
    <button class="btn group col-auto p-3 rounded-3">
      Grupo #
    </button>
    <button class="btn group col-auto p-3 rounded-3">
      Grupo #
    </button>
    <button class="btn group col-auto p-3 rounded-3">
      Grupo #
    </button>
    <button class="btn group col-auto p-3 rounded-3">
      Grupo #
    </button>
    <button class="btn group col-auto p-3 rounded-3">
      Grupo #
    </button>
    <button class="btn group col-auto p-3 rounded-3">
      Grupo #
    </button>
    <button class="btn group col-auto p-3 rounded-3">
      Grupo #
    </button>
    <button class="btn group col-auto p-3 rounded-3">
      Grupo #
    </button>
    <button class="btn group col-auto p-3 rounded-3">
      Grupo #
    </button>
    <button class="btn group col-auto p-3 rounded-3">
      Grupo #
    </button>

  </div>
</div>
