.contm{
  padding: 10px 50px;
}

.logoText{
  font-weight: bold;
  margin-left: 20px !important;
}

.linkIngresar{
  border-radius: 10px;
  font-weight: 500;
}


/* cambiar colores de navbar*/
.home-page {
  background-color: #FFFFFF; /* Cambia el color del navbar en la p치gina de home */
}

.home-link{
  background-color: #BBEBBD;/* Cambia el color del enlace en la p치gina de home */
}

.login-page {
  background-color: #BBEBBD; /* Cambia el color del navbar en la p치gina de login y resgitro de profesor*/
}

.login-link{
  background-color: #FFFFFF; /* Cambia el color del enlace en la p치gina de login y registro de profesor*/
}
