
<div class="container-fluid mainContainer p-5 ">
  <div class="row justify-content-center">
    <div class="col-12 text-center titulo">Laberinto Matemático</div>
    <div class="col-lg-6 col-md-8 col-sm-10 col-12 cuadro">
      <div class="cuadro2 p-5 text-center">
        <form >
          <input
            type="text"
            class="form-control mb-3"
            placeholder="Ingrese ID del estudiante"
            required
          />
          <div class="invalid-feedback">Example invalid feedback text</div>

          <input
            type="text"
            class="form-control mb-3"
            placeholder="Ingrese código del grupo"
            required
          />

          <button type="submit" class="btn btnJugar">Jugar</button>
        </form>
      </div>
    </div>
  </div>
</div>
