<div class="container-fluid mainContainer p-5 ">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10 col-12 cuadro">
            <div class="card p-5 text-center">
                <div>
                    <table class="table mb-5">
                        <thead>
                            <tr>
                                <th>Jugador</th>
                                <th>Puntuación</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Jugador 1</td>
                                <td>####</td>
                            </tr>
                            <tr>
                                <td>Jugador 2</td>
                                <td>####</td>
                            </tr>
                            <tr>
                                <td>Jugador 3</td>
                                <td>####</td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="submit" class="btn btnContinue">Continuar</button>
                </div>
            </div>
        </div>
    </div>
</div>