<div class="container-fluid mainContainer">
    <div class="row justify-content-center">
        <div class="col-12 text-center titulo">Personajes</div>
        <div class="col-md-4 text-center">
            <img src="../../assets/images/mono1.png" alt="Imagen 1" class="img-fluid">
        </div>
        <div class="col-md-4 text-center">
            <img src="../../assets/images/elefante1.png" alt="Imagen 2" class="img-fluid">
        </div>
        <div class="col-md-4 text-center">
            <img src="../../assets/images/leon1.png" alt="Imagen 3" class="img-fluid">
        </div>
        <div class="col-md-4 text-center">
            <img src="../../assets/images/capibara1.png" alt="Imagen 4" class="img-fluid">
        </div>
        <div class="col-md-4 text-center">
            <img src="../../assets/images/koala.png" alt="Imagen 5" class="img-fluid">
        </div>
    </div>
</div>
